on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  Updates_Youtube_Sub_Count:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: Updates Youtube Sub Count
    steps:
      - uses: actions/checkout@v3
      - name: Updates Youtube Sub Count
        uses: WeiYun0912/youtube-sub-action@main
        with:
          KEY: ${{secrets.KEY}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMITTER_USERNAME: "WeiYun0912"
          COMMITTER_EMAIL: "yher25@gmail.com"
